<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fake Todo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/main.css" rel="stylesheet">
    </head>
    <body>
    <h1>Hello Helio Training Class</h1>
        <div id="app"></div>

        <!-- 
            Notice we are referring to bundle.js as an absolute path to the root directory.
            
            Bundle.js will not exist until we run our webpack process.
             -->
        <script src="/bundle.js"></script>
    </body>
</html>